<div class="ui-widget-header ui-corner-all form">
<h2>Write Comment for {{ restaurant.r_name }}</h2>
</div>
<!-- need validation -->
<form class="form ui-widget-content ui-corner-all" 
action="{% url 'restaurant:SubmitComment' restaurant.id %}" method="post">
{% csrf_token %}
<p class="item">Name: <input type="text" name="name"></p>
<p class="item">Rate: <input type="number" name="rate"></p>
<p class="item">Description: <input type="text" name="desc"></p>
<input type="submit" value="comment" class="item">
</form>

<style>
    .form { margin: auto; text-align: center; width: 50vw;  }
    .item { margin: 20px;}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">