<!DOCTYPE html>
    <title>{{restaurant.r_name}} Detail</title>
    <div class="ui-widget-header ui-corner-all form">
        <h1>{{restaurant.r_name}}</h1>
        <h2>{{restaurant.r_address}} {{review_number}}</h2>
        <!-- show rate -->
        {% if restaurant.review_set.all %}
        {% for i in "x"|ljust:average_rate.r_rate__avg %}
                    <span style="color: gold">&#9733;</span>
                    {% endfor %}
            {{average_rate.r_rate__avg}}{% endif %}
        <a href="{% url 'restaurant:review' restaurant.id %}" class="ui-button" style="margin: 5px">Add Review</a>
    </div>
    {% if restaurant.review_set.all %}
        <table class="items ui-widget-content ui-corner-all">
            <th style="text-align: right;">
            {{review_number}} Reviews</th>
                {% csrf_token %}
                {% for review in restaurant.review_set.all %}
            <tr style="height: 50px;"><td>
                   <p style="background-color:rgba(235, 233, 228, 0.856);padding: 3px"><i class="fas fa-user-circle"></i> &nbsp;
                    <strong>{{review.r_user.u_name}}</strong>
                    {% for i in "x"|ljust:review.r_rate %}
                    <span style="color: gold">&#9733;</span>
                    {% endfor %}
                </p>
                <!-- description -->
                    <div class="crop">{{ review.r_desc }}
                    </div>
                    <!-- here is reply -->
                    {% if review.comment_set.all %}
                    <div style="border-left: 5px solid green; background-color: rgba(211, 211, 211, 0.411); margin:10px; padding: 2px">
                            {% for comment in review.comment_set.all %}
                            <p>&nbsp;<i class="fas fa-comment-dots"></i>&nbsp;<strong>{{comment.c_user.u_name}}</strong> :
                                {% if comment.c_reply_user %}<strong>@{{comment.c_reply_user}}</strong> {% endif %}
                                {{comment.c_desc}}
                            <a href="{% url 'restaurant:reply' comment.id %}" style="float: right;"><i class="fas fa-reply"></i> Reply  </a>
                            </p>
                            {% endfor %}
                    </div>
                    {% endif %}
                <!-- like & reply  -->
                    <div class="review">
                    <i counter="{{ forloop.counter }}" reviewId="{{review.id}}" click=true class="fa fa-thumbs-up" style="margin: 5px;color:gray" ></i>
                    <span id="like_count{{forloop.counter}}">{{review.r_like}}</span>
                    <a href="{% url 'restaurant:comment' review.id %}" class="ui-button" style="margin: 5px"> Comment</a>
            </td></tr>
        {% endfor %}
            </table>
    {% else %}
        <p class="items ui-widget-content ui-corner-all">No review yet</p>
    {% endif %}
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        .form { margin: auto; text-align: center; width: 50vw;  }
        .items { margin: auto; width: 50vw;}
        .review {float: right; margin: 10px;}
        .crop {width:300px; overflow:hidden; height:50px; line-height:50px;}​
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("i").click(function(){
          let like = $(this).attr("click")
          console.log(typeof like)
          if(like){
          $(this).css("color","red")
          var review_id = $(this).attr("reviewId")
          $.post(review_id+"/likereview/",
          {
              csrfmiddlewaretoken: "{{ csrf_token }}"
            }
        )
          var counter = $(this).attr("counter")
          var like_add = parseInt($('#like_count'+counter).html())+1
          $('#like_count'+counter).html(like_add)
          $(this).attr("click", null)
        }
    })})
      </script>
    